.navbar {
  background-color: #2d2d2d;
  color: $accentColor;
}

.links {
  background-color: #2d2d2d !important;
  color: #C3BEA8 !important;
}

.nav-links a:hover, .nav-links a.router-link-active {
  color: #FFFFFF !important;
}

/* .search-box {
  display: none !important;
} */

.navbar .site-name {
  color: #FFFFFF !important;
}

.sidebar .nav-links {
  background-color: #2d2d2d !important;
  color: #C3BEA8 !important;
}

a.header-anchor {
  display: none;
}

.home .footer {
  color: #666666 !important;
}

.search-box input {
  background-color: #635F62 !important;
  border-radius: unset !important;
  border: 1px solid #DA8541 !important; 
  color: #DDD !important;
}
